[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-emacs-bindings"]
	path = bundle/vim-emacs-bindings
	url = git://github.com/maxbrunsfeld/vim-emacs-bindings.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = git://github.com/ervandew/screen.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vroom"]
	path = bundle/vroom
	url = git://github.com/skalnik/vim-vroom.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
